# Monad Testnet Configuration
NEXT_PUBLIC_MONAD_RPC_URL="https://testnet-rpc.monad.xyz"
NEXT_PUBLIC_CONTRACT_ADDRESS="0x892a23381A17f223a4d9693B980C6563f82c1014"
NEXT_PUBLIC_CHAIN_ID=10143

# Reown / WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="3a8170812b534d0ff9d794f19a901d64"

# Supabase Storage & Evidence Configuration
NEXT_PUBLIC_SUPABASE_URL="https://gjhatrotcwtauufkdxbf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"

# Deployer Private Key (Optional for Hardhat / Foundry deployment)
PRIVATE_KEY=""
